@font-face {
  font-family: GentiumBookPlus-Regular;
  src: url(../fonts/GentiumBookPlus-Regular.woff2);
}

.content_post {
  font-family: GentiumBookPlus-Regular;
}

.data {
  font-style: italic;
  padding: 10px 9px 2px;
  font-size: 17px;
}
 