@font-face {
  font-family: GentiumBookPlus-Bold;
  src: url(../fonts/GentiumBookPlus-Bold.woff2);
}

@font-face {
  font-family: GentiumBookPlus-Regular;
  src: url(../fonts/GentiumBookPlus-Regular.woff2);
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  position: relative;
}

.title {
  font-size: xx-large;
  color: rgb(0, 166, 255);
  line-height: 1;
  font-family: GentiumBookPlus-Bold;
}

.post_item {
  overflow: hidden;
}

.link:hover {
  .content {
    color: rgb(73, 73, 73);
  }
  .title {
    color: rgb(0, 103, 158);
  }
  .post_data {
    color: rgb(73, 73, 73);
  }
}

.line {
  border-bottom: black 1px solid;
  width: 100%;
  position: absolute;
  padding-bottom: 8px;
}

.post_data {
  font-style: italic;
  padding: 10px 9px 2px;
  font-size: 17px;
}

.content {
  font-family: GentiumBookPlus-Regular;
  max-height: 143px;
  p {
    margin: 0;
  }
}

.link {
  text-decoration: none;
  color: black;
}
